body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;	
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;	
  color: #000000;
  text-transform: uppercase;
 
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

p {
  font-weight: normal;
  color: #333333;
  text-align: center;
}

h3 {
  font-size: 21px;	
  line-height: 21px;
  text-align: center;	
  
}

h2 {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

button {  
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.site-navigation {
  list-style: none;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(40, 40, 40, 0.3);
}


/*Главная*/

.picture {
  height: 500px;
  background-color: #ffffff;
  background-image: url("../img/Фон.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slogan p {
  line-height: 26px;	
}

.features-list {
  list-style: none;
}

.feature-item_blue {
  color: #ffffff;
  background-color: #81b3d2; 	
}
/*
.icon-1 {
  background-image: url(../img/icon-1.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.icon-2 {
  background-image: url(../img/icon-2.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.icon-3 {
  background-image: url(../img/icon-3.svg);
  background-position: top center;
  background-repeat: no-repeat;
}
*/
.aspect-item_gray {
  background-color: #eeeeee;
}

.interest {
  text-align: center;
}

.interest h2 {
  font-size: 30px;
  line-height: 24px;
}

.interest p {
  line-height: 24px;
}

.interest a {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.interest a:hover,
.interest a:focus {
  color: #ffffff;
  background-color: #604e43;	
}

.interest a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;	
}

.interest label  {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
	
}
.interest input {   
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.interest input:hover,
.interest input:focus {
  background-color: #ebebeb;
}

.interest input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;	
}

.interest button {
  font: inherit;
  
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.interest button:hover,
.interest button: {
  color: #ffffff;
  background-color: #669ec0;	
}

.interest button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;	
}

/*Главная*/

/*Отели*/

legend {
  font-size: 16px;
  font-weight: bold;
	
} 

.box1-inner {
  font-weight: normal;
  color: #ffffff;
  background-image: url("../img/Фон.jpg");
  background-position: left;
  background-size: cover;	
  background-repeat: no-repeat;
  /*-webkit-filter: blur(5px);*/
}

.box1-inner button {
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.box2-inner {
  font-size: 21px;
  line-height: 26px;
}

.box2-inner p {
  font-size: 12px;
  line-height: 18px;
  
}

.box2-inner a {
  text-decoration: underline;
  color: rgba(40, 40, 40, 0.3);
}

.box2-inner a:hover,
.box2-inner a:focus {
  color: #81b3d2;
}

.box2-inner a:active {
  color: #000000;
}

.hotel h3 {
  line-height: 26px;	
}
.hotel p {
  font-weight: normal;
  color: #333333;
}

.rating p {
  color: #666666;
  background-color: #f2f2f2;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-2 {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #669ec0;	
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;	
}

.button-2:hover,
.button-2:focus {
  color: #ffffff;
  background-color: #604e43;	
}

.button-2:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;	
}
/*Отели*/

.main-footer p {
  font-size: 21px;
  font-weight: bold;
	
}


.footer-social ul{
  list-style: none;
}

.footer-social a {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-copyright {
  line-height: 26px;  
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #81b3d2;	
}

.footer-copyright a:active {
  color: rgba(40, 40, 40, 0.3);	
}

.logo:hover path,
.logo:focus path {
  fill: #81b3d2;
}

.logo:active path {
  fill: rgba(40, 40, 40, 0.3);
}