body {
  
  margin: 0;
  padding: 0;
  
  
  font-family: "PT Sans", Arial, sans-serif;	
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;	
  color: #000000;
  text-transform: uppercase;
 
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

p {
  font-weight: normal;
  color: #333333;
  text-align: center;
}

h3 {
  font-size: 21px;	
  line-height: 21px;
  text-align: center;	
  
}

h2 {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

button {  
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.site-navigation {
  list-style: none;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(40, 40, 40, 0.3);
}

.main-navigation a.active::after {
  color: #766357;
}

.main-header {
  min-height: 57px;
  padding: 0;
 
}
.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -60px;
  
}


.site-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 0;
  margin: 0;
  
  
  
}
.site-navigation li {
  width: 25%;
  text-align: center;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}
.site-navigation li:nth-child(3) {
  margin-left: auto;
}

/*Главная*/
.column-inner {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 50px;	
}

.picture {
  
  background-color: #ffffff;
  background-image: url("../img/Фон.jpg");
  background-size: cover;
  background-repeat: no-repeat;
    
}
.picture-inner {
  min-height: 773px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slogan {
  margin-top: 60px;
  
}
.slogan p {
  line-height: 26px;	
}
.features {
  margin-bottom: 55px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.feature-item_blue {
  width: 100%;
  display: flex;
}

.feature-item:nth-child(5) {
  flex-direction: row-reverse;
}

.feature-item-block {
  width: 305px;
  margin: 0;
  padding: 50px;
  
 
}

.feature-item-image {
  overflow: hidden;
}

.feature-item-image img { 
  height: 100%; 
  width: auto; 
}

.feature-item_white {
  width: 260px;
  min-height: 207px;
  padding-top: 160px;
  padding-left: 70px;
  padding-right: 70px;
  
}


.feature-item_blue p {
  color: #ffffff;
}


.features-list {
  list-style: none;
}

.feature-item_blue {
  color: #ffffff;
  background-color: #81b3d2; 	
}

.feature-item:nth-child(2) {
  background-image: url(../img/icon-1.svg);
  background-position: 160px 60px;
  background-repeat: no-repeat;
}

.feature-item:nth-child(3) {
  background-image: url(../img/icon-2.svg);
  background-position: 160px 60px;
  background-repeat: no-repeat;
}

.feature-item:nth-child(4) {
  background-image: url(../img/icon-3.svg);
  background-position: 160px 60px;
  background-repeat: no-repeat;
}

.aspect-item_gray {
  background-color: #eeeeee;
}
.aspect-item {
  width: 220px;
  min-height: 205px;
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 90px;
}

.interest {
  text-align: center;
}

.interest-inner {
  width: 600px;
  
  
}

.interest h2 {
  font-size: 30px;
  line-height: 24px;
}

.interest p {
  line-height: 24px;
}

.interest a {
  
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.interest-form input[type="text"],
.interest-form input[type="number"] {
  box-sizing: border-box;
  width: 350px;
  height: 40px;
  padding: 9px 15px;
  font: inherit;
  color: inherit;
  border: none;
}

.interest-form input[type="number"] {
  width: 120px; 	
}

.interest a:hover,
.interest a:focus {
  color: #ffffff;
  background-color: #604e43;	
}

.interest a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;	
}

.interest label  {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
	
}

.interest-form button {
  width: 460px;
  height: 60px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.interest input {   
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.interest input:hover,
.interest input:focus {
  background-color: #ebebeb;
}

.interest input:focus {
  background-color: #ffffff;
  border: 2px solid e5e5e5;	
}


  
  


.interest button:hover,
.interest button:focus {
  color: #ffffff;
  background-color: #669ec0;	
}

.interest button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;	
}



/*Главная*/

/*Отели*/

legend {
  font-size: 16px;
  font-weight: bold;
	
} 

.box1-inner {
  display: flex;
  min-height: 185px;
  padding-top: 35px;
  font-weight: normal;
  color: #ffffff;
  background-image: url("../img/Фон.jpg");
  background-position: left;
  background-size: cover;	
  background-repeat: no-repeat;
  /*-webkit-filter: blur(5px);*/
}

.box1-inner fieldset:nth-child(1) {
  width: 300px;
}

.box1-inner fieldset:nth-child(2) {
  width: 500px;
}

.box1-inner fieldset:nth-child(3) {
  width: 400px;
}

fieldset {
  display: flex;
  
}
.box1-inner button {
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.box2-inner {
  display: flex;
  min-height: 90px;
  font-size: 21px;
  line-height: 26px;
}

.box2-inner p {
  font-size: 12px;
  line-height: 18px;
  
}

.box2-inner a {
  text-decoration: underline;
  color: rgba(40, 40, 40, 0.3);
}

.box2-inner a:hover,
.box2-inner a:focus {
  color: #81b3d2;
}

.box2-inner a:active {
  color: #000000;
}

.hotel {
  margin: 0;
  padding: 30px 70px;
}

.hotel-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  
}

.text {
  margin-right: auto;
  margin-left: 30px;
  align-self: flex-start;
  
}

.hotel-list {
  list-style: none;
  
}



.hotel h3 {
  line-height: 26px;	
}
.hotel p {
  font-weight: normal;
  color: #333333;
}

.rating p {
  color: #666666;
  background-color: #f2f2f2;
}

.button {
  
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-2 {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #669ec0;	
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;	
}

.button-2:hover,
.button-2:focus {
  color: #ffffff;
  background-color: #604e43;	
}

.button-2:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;	
}
/*Отели*/
.main-footer .container {
  display: flex; 
  margin: 0 auto;
  padding-top: 40px;
}

.main-footer p {
  font-size: 21px;
  font-weight: bold;
	
}

.link-inner {
  width: 240px;
  padding-left: 50px;
}

.footer-social {
  width: 200px;
  padding-left: 200px;
}

.footer-social ul{
  display: flex;
  list-style: none;
}

.footer-social a {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-copyright {
  width: 240px;
  line-height: 26px; 
  padding-left: 200px;
  padding-right: 70px;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #81b3d2;	
}

.footer-copyright a:active {
  color: rgba(40, 40, 40, 0.3);	
}

.logo:hover path,
.logo:focus path {
  fill: #81b3d2;
}

.logo:active path {
  fill: rgba(40, 40, 40, 0.3);
}